.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .avatar-container img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .avatar-container img:hover {
    transform: scale(1.1);
  }
  
  .avatar.selected {
    border: 2px solid #4caf50;
  }
  
  .reminder-container {
    margin-top: 20px;
  }
  
  .clock-container {
    margin-top: 20px;
  }

  .reminder-container button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }